
body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px auto;
    max-width: 460px;
}

fieldset {
    padding: 10px 30px 0;
    margin-bottom: 20px;
}

legend {
    color: white;
    background: black;
    padding: 5px 10px;
}

fieldset > div {
    margin-bottom: 20px;
    display: flex;
}

button, label, input[type="text"] {
    display: block;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    height: 30px;
}

input {
    box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 5px;
}

input:hover, input:focus {
    background-color: #eee;
}

input[type="text"]:disabled {
    background: #eee;
    border: 1px solid #ccc;
}

.disabled-label {
    color: #aaa;
}

button {
    width: 60%;
    margin: 0 auto;
}
    