
input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid gray;
    /* Adjusts the position of the checkboxes on the text baseline */
    vertical-align: -2px;
    outline: none;
}

input[type="radio"]::before {
    display: block;
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background-color: red;
    font-size: 1.2em;
    transform: translate(3px, 3px) scale(0);
    transform-origin: center;
    transition: all 0.3s ease-in;
}

input[type="radio"]:checked::before {
    transform: translate(3px, 3px) scale(1);
    transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
}

input ~ span {
    position: relative;
}

input:default ~ span::after {
    font-size: 0.7rem;
    position: absolute;
    content: "Default";
    color: white;
    background-color: black;
    padding: 5px 10px;
    right: -65px;
    top: -3px;
}

input[type="radio"]:indeterminate {
    border: 2px solid red;
    animation: 0.4s linear infinite alternate border-pulse;
}

@keyframes border-pulse {
    from {
        border: 2px solid red;
    }
    to {
        border: 6px solid red;
    }
}
