body {
    background-color: #fff;
    color: #333;
    font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 1em;
    margin: 0;
}

* {
    box-sizing: border-box;
}

button,
input,
select {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

fieldset {
    padding: 10px 30px 0;
    width: 400px;
}

legend {
    color: white;
    background: black;
    padding: 5px 10px;
}

fieldset > div {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
}

button, label, input {
    display: block;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    height: 30px;
}

input {
    box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 5px;
}

input:hover, input:focus {
    background-color: #eee;
}

button {
    width: 60%;
    margin: 0 auto;
}

input + span {
    position: relative;
}

input + span::after {
    font-size: 0.7rem;
    position: absolute;
    padding: 5px 10px;
    top: -26px;
    left: -70px;
}

input:required + span::after {
    content: "required";
    background-color: #000;
    color: #fff;
}

input + span::before {
    position: absolute;
    right: -20px;
    top: 5px;
}

input:invalid:not(:placeholder-shown) {
    border: 2px solid red;
}

input:valid + span::before {
    content: '✓';
    color: green;
}

input:invalid:not(:placeholder-shown) + span::before {
    content: '✖';
    color: red;
}
