/*input {*/
/*    -webkit-appearance: none;*/
/*    appearance: none;*/
/*}*/

input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

span {
    display: inline-block;
    background: red;
}

/*input[type="checkbox"] {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;

    position: relative;
    width: 1em;
    height: 1em;
    border: 1px solid gray;
    /* Adjusts the position of the checkboxes on the text baseline */
    vertical-align: -2px;
    /* Set here so that Windows' High-Contrast Mode can override */
    color: green;
}

input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: 1.2em;
    right: -1px;
    top: -0.3em;
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    /* Use `visibility` instead of `display` to avoid recalculating layout */
    visibility: visible;
}

input[type="checkbox"]:disabled {
    border-color: black;
    background: #ddd;
    color: gray;
}
